.header {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
}
.chat-box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 550px;
	width: 1000px;
	border-radius: 10px;
	border-style: solid;
}
.input-container {
	margin: 0;
	gap: 10px;
	position: absolute;
	left: 22%;
	top: 90%;
	display: flex;
	flex: row;
}
.room-container {
	margin: 0;
	gap: 10px;
	position: absolute;
	left: 75%;
	top: 5%;
	display: flex;
	flex: row;
}
.message-input {
	width: 700px;
	height: 40px;
	border-style: solid;
	border-radius: 5px;
	font-size: 30px;
}
.message-btn {
	width: 100px;
	height: 56px;
}
.room-input {
	width: 100px;
	height: 20px;
	border-style: solid;
	border-radius: 5px;
	font-size: 20px;
}
.room-btn {
	width: 100px;
	height: 26px;
}
.client-id {
	margin: 0;
	position: absolute;
	left: 2%;
	top: 5%;
}
